:root {
  --primary-green: #0e3b43;
  --secondary-green: #357266;
  --tertiary-green: #a3bbad;
  --primary-brown: #65532f;
  --secondary-brown: #312509;
}

* {
  font-family: "Raleway", sans-serif;
  color: var(--primary-brown);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" -25, "opsz" 20;
}

html,
body {
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
}

body {
  display: grid;
  grid-template:
    "sidebar header" 1fr
    "sidebar main" 5fr
    / 1fr 4fr;
}

aside {
  background-color: var(--secondary-green);
  font-size: 1.5rem;
  grid-area: sidebar;
  padding: 1rem;
}

.sidebar {
  position: sticky;
  top: 1rem;
  display: grid;
  grid-template-rows: 2fr repeat(10, 1fr);
  grid-template-columns: auto 1fr;
  gap: 1rem 0;
}

nav,
aside div {
  display: contents;
}

aside div > .material-symbols-outlined {
  grid-column: 1;
  place-self: start center;
  font-size: 28px;
}

aside div > a {
  grid-column: 2;
  place-self: start;
}

.dashboard > .material-symbols-outlined {
  font-size: 48px;
  place-self: center;
}

.dashboard > a {
  font-size: 28px;
  place-self: center start;
}

aside .material-symbols-outlined {
  color: white;
}

aside a {
  text-decoration: none;
  color: white;
}

aside div {
  transition: all 100ms ease-in-out;
}

aside div:hover {
  cursor: pointer;
  text-shadow: var(--tertiary-green) 0px 0px 2px;
}

aside div:active {
  cursor: pointer;
  text-shadow: none;
}

aside a {
  margin: 0;
}

.communities .material-symbols-outlined {
  grid-row: span 2;
  place-self: start center;
}

.communities a {
  grid-row: span 2;
  place-self: start;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 2px 4px var(--tertiary-green);
  padding: 0.75rem 2rem;
  grid-area: header;
  display: grid;
  grid-template:
    "search profile"
    "welcome controls"
    / 2fr 1fr;
}

header span,
img,
header > .user-profile > p {
  cursor: pointer;
}

header span:hover {
  text-shadow: 0px 0px 1px var(--secondary-brown);
}

header span:active {
  font-variation-settings: "FILL" 1;
}

.search {
  grid-area: search;
  width: 100%;
  place-self: center start;
  display: flex;
  gap: 8px;
}

.search span {
  font-size: 2rem;
}

.search input {
  border: 0;
  background-color: var(--tertiary-green);
  border-radius: 4px;
  width: 75%;
  height: 2rem;
  font-size: 1.5rem;
  box-shadow: 0px 2px 0px var(--secondary-green);
}

.search input:focus {
  outline: 2px solid var(--secondary-green);
}

.user-profile {
  grid-area: profile;
  place-self: center end;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.user-profile img {
  height: 32px;
  width: 32px;
}

.user-profile .material-symbols-outlined {
  font-size: 2rem;
}

.user-welcome {
  grid-area: welcome;
  place-self: center start;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-welcome img {
  height: 48px;
  width: 48px;
}

.username {
  font-size: 1.5rem;
}

.user-controls {
  grid-area: controls;
  place-self: center end;
  display: flex;
  gap: 1rem;
}

.user-controls > button {
  border: 0;
  border-radius: 4px;
  background-color: var(--tertiary-green);
  padding: 1rem;
  box-shadow: 0px 4px 0px var(--primary-brown);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.user-controls > button:hover {
  transform: translateY(1px);
  box-shadow: 0px 3px 0px var(--primary-brown);
}

.user-controls > button:active {
  transform: translateY(4px);
  box-shadow: none;
}

main {
  box-shadow: inset 2px 2px 4px var(--tertiary-green);
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.283' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M46.189-20L57.736 0M46.189 20l11.547 20m-46.189 0l11.547 20M11.547 0l11.547 20m40.415 30H40.415M28.868 30H5.774m23.094-40H5.774m57.735 20H40.415m0 20L28.868 50m11.547-60L28.868 10m46.188 0L63.509 30M5.774 10L-5.773 30m75.056 10H46.189L34.64 20 46.19 0h23.094C73.13 6.667 76.98 13.333 80.83 20zM57.736 60H34.64L23.094 40l11.547-20h23.095c3.848 6.667 7.698 13.333 11.547 20L57.736 60zm0-40H34.64L23.094 0l11.547-20h23.095L69.283 0c-3.87 6.7-8.118 14.06-11.547 20zM34.64 60H11.547L0 40l11.547-20h23.094L46.19 40 34.64 60zm0-40H11.547L0 0l11.547-20h23.094L46.19 0 34.64 20zM23.094 40H0l-5.773-10-5.774-10L0 0h23.094l11.547 20-11.547 20z'  stroke-width='0.5' stroke='hsla(168, 37%, 33%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  grid-area: main;
  padding: 1rem;
  display: grid;
  grid-template:
    "projects announcements"
    "projects trending"
    / 2fr 1fr;
  gap: 1rem;
}

.projects-container {
  grid-area: projects;
}

.projects-header {
  font-size: 1.5rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.projects > div {
  height: 250px;
  background-color: white;
  box-shadow: 0px 0px 4px var(--tertiary-green);
  border-left: 0.5rem solid var(--secondary-green);
  border-radius: 4px;
  padding: 1rem;
  display: grid;
}

.projects > div > h1 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  align-self: center;
  cursor: pointer;
}

.projects > div > p {
  margin: 0;
  align-self: start;
}

.card-actions {
  place-self: center end;
  display: flex;
  gap: 1.5rem;
}

.card-actions > span {
  cursor: pointer;
}

.card-actions > span:hover {
  text-shadow: 0px 0px 1px var(--secondary-brown);
}

.card-actions > span:active {
  font-variation-settings: "FILL" 1;
}

.announcements-container {
  grid-area: announcements;
}

.announcements-header {
  font-size: 1.5rem;
}

.announcements {
  background-color: white;
  box-shadow: 0px 0px 4px var(--tertiary-green);
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.announcements > div > h1 {
  cursor: pointer;
  font-size: 1.25rem;
  margin: 0;
}

.announcement-1,
.announcement-2 {
  border-bottom: 2px solid var(--tertiary-green);
  margin-bottom: 1rem;
}

.trending-container {
  grid-area: trending;
}

.trending-header {
  font-size: 1.5rem;
}

.trending {
  background-color: white;
  box-shadow: 0px 0px 4px var(--tertiary-green);
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.trending > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trending > div > img {
  height: 48px;
  width: 48px;
}

.user-trending-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2px;
}

.user-trending-info > p {
  margin: 0;
}

.at {
  font-weight: 700;
  cursor: pointer;
}

.at:hover {
  text-shadow: 0px 0px 1px var(--secondary-brown);
}
